<lb-entry-card *ngFor='let entry of entries' [entry]='entry'>
	<div class="actions">
		<button class="btn btn-sm btn-primary" [routerLink]='["/entries", entry._id]'>
					<i class="fa fa-pencil"></i>
				</button>
		<button class="btn btn-sm btn-danger" (click)='remove(entry)'>
					<i class="fa fa-remove"></i>
				</button>
	</div>
</lb-entry-card>

<div class="alert alert-info" *ngIf='entries?.length === 0'>
	Seems like you don't have any entries yet.
	<a routerLink='/entries/new'>Create one</a>, 
	or <a routerLink='/settings'>go to Settings</a> to setup sync with an existing database.  
</div>
