<nav class="navbar navbar-light navbar-fixed-top bg-faded">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">

                <a class="navbar-brand" routerLink="/dashboard">
                    LogBook
                </a>

                <div class="float-xs-right">
                    <a routerLink='/entries/new' class="btn btn-success" title="New Entry">
                        <i class="fa fa-plus"></i>
                    </a>
                    <a routerLink='/settings' class="btn btn-secondary" title="Settings">
                        <i class="fa fa-cog"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
